@charset "utf-8";
/* Basic layout styles */
html{
	box-sizing:border-box;
}
*, *::before, *::after{
	box-sizing:inherit;
}
body {
	background: black;
	font-size: 100%;
}
#container {
	background: #ccc;
	width: 80%;
	margin: 0 auto;
	padding: 2.5%;
}
header, section, footer {
	background: #fff;
	padding: 2.5%;
	margin-bottom: 1em;
}
main {
	display: flex;
	flex-direction: column;
}


/* STEP 4: Add styles to visually communicate that this is a small screen - use the ::after psuedoelement and the content property to add some text after the H1 */

/* Smartphone/small screen styles */
h1::after{
	content: " (Small)";
}
#container{
	background-color: #b2e2ed;
}
/* STEP 5: Edit the above CSS to set the background color of the #container to lightblue */

/* STEP 6a: Add a media query to target medium window sizes (tablets) that are a minimum of 481px */
@media screen and (min-width: 481px){
		/* Tablets/medium screen styles */
h1::after{
	content: " (Medium)";
}
#container {
	background-color: orange;
}
main{
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0.75rem;
}
	/* The first SECTION element inside the MAIN should stretch all the way across the page layout container */
main section:nth-of-type(1) {
	flex-basis: 100%;
}
	/* The second and third SECTION elements should sit side-by-side - remember the box model when setting the width with flex-basis */
main section:nth-of-type(2), main section:nth-of-type(3){
	flex-basis:50%;
}
}
/* STEP 6b: Edit the above CSS to set the background color of #container to orange and arrange the page in 2-column layout with the first section on top of the second and third sections (using flexbox) */

/* STEP 7a: Add another media query to target only screens 1025px or larger (notebooks and desktops)*/
@media screen and (min-width:1025px), (orientation:landscape) {
	h1::after{
		content: " (Large)";
	}
	#container {
		background-color:hotpink;
	}
	main{
		flex-wrap: nowrap;
	}
main section:nth-of-type(n) {
		flex-basis:auto;
	}
}
	/* Desktops/large screen styles */

/* STEP 7b: Edit the above CSS to set the background color of #container to olive and arrange the page in a 3-column layout (using flexbox) */

/* STEP 8: Add an OR conditional (,) to the above media query that applies the above CSS if the device is being held in landscape orientation, rather than portrait */

/* STEP 9: Try the orientation switch using the browser developer tools to watch 'orientation: landscape' in action, then go back to the file 'index.html' for STEP 10
